<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">BI Project</a> 
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/hopital">Hopital</a></li>
            <li><a href="/dataview">Données</a></li>
        </ul>
    </div>
</nav>
