<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">BI Project</a> 
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav mr-auto">
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/hopital">Hopital</a></li>
            <li><a class="nav-link" href="/dataview">Données</a></li>
            <li><a class="nav-link" href="/map">Carte</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
