<% layout('layouts/layout') -%> 
<h1>Contact</h1>

          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <img src="../Keis.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Keis</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="../thierry.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Thierry</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="./Koji.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Nguyen Sonhà</span>
            </div>
          </section>